main {
    /* position: relative; */
    z-index: 0;
}

main section {
    border: solid gray 2px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;

    /* position: relative; */
}

section > * {
    max-width: 500px;
}

#roomHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.adminRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    gap: 5px;
    margin-bottom: 10px;
}

form, table {
    display: block;
    border: solid gray 2px;
    border-radius: 2.5px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.userTableRow > td {
    padding: 5px;
}

.userTableRow:hover > td {
    padding: 2px;
    border: solid rgb(66, 185, 37) 3px;
}

.deleteMode > .userTableRow:hover > td {
    padding: 2px;
    border: dashed rgb(185, 37, 37) 3px;
}

button.deleteMode {
    border-style: dashed;
    border-color: rgb(185, 37, 37);
    border-radius: 3px;
}

#submit {
    margin: 15px 0px;
}