html {
    /*background-color: rgb(24, 39, 71);*/
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: rgb(100, 114, 126);
    padding: 10px;
    padding-top: 25px;
    margin: -10px;
    margin-bottom: 10px;

    color: rgb(216, 216, 216);
    text-transform: uppercase;
    font-weight: bold;

    display: flex;
    justify-content: center;
    flex-direction: column;
}
#title {
    margin: 5px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

#title > h1 {
    margin: 5px; 
    text-shadow: 1px 2px rgb(86, 43, 8);
}

#user {
    padding: 5px;
    padding-left: 10px;
    margin-left: auto;
    border-radius: 6px;

    display: flex;
    align-items: center;
}
#user > img {
    margin-left:  3px;
    padding: 4px;
    border-radius: 23px;
    width: 38px;
    background-color: rgb(100, 114, 126);
}
#user:hover {
    background-color: rgb(216, 216, 216);
    color: rgb(86, 43, 8);
}
nav {
    margin-left: 5px;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

nav > * {
    padding: 5px;
    text-decoration: none;
    color: inherit;
    border-radius: 3px;
    margin-right: 10px;
}
nav > *:hover {
    background-color: rgb(216, 216, 216);
    box-shadow: inset 2px 2px 2px rgb(79, 82, 85),
                inset -1px -1px 2px rgb(116, 121, 126);
    color: rgb(86, 43, 8);
}

#main {
    background-color: rgb(216, 216, 216);
    color: rgb(86, 43, 8);
    border-radius: 3px;
    padding: 10px;
    padding-bottom: 200px;
}

/* Style for smaller screens */
@media screen and (max-width: 710px) {
    #title > h1 {
        font-size: 160%;
    }

    #user > div {
        display: none;
    }
}