
/* 
Etown official colors:
  - Main blue   004B98
  - Dark blue   0A2240
  - Red         E1261C
  - Light blue  3DB5E6
  - Cool gray   C8C8C8

extracted HEX:
  - rich-black-fogra-29 #001828ff;
  - blue-sapphire       #216077ff;
  - gunmetal            #0E323Fff;
  - heliotrope-gray     #9F92A8ff;
  - pale-cerulean       #A9C5DAff;
*/

html {
    /*background-color: rgb(24, 39, 71);*/
    font-family: Arial, Helvetica, sans-serif;

    background-color: rgb(117, 122, 124);
}
header {
    background-image: url('../img/projector-blur.png');
    background-size: 180%;
    background-position-x: 25%;
    background-position-y: 75%;

    background-color: #3c6792;
    padding: 10px;
    padding-top: 25px;
    margin: -10px;
    margin-bottom: 10px;

    color: rgb(216, 216, 216);
    text-transform: uppercase;
    font-weight: bold;

    display: flex;
    justify-content: center;
    flex-direction: column;

    border-bottom: solid 5px #001828ff;
}
#title {
    margin: 5px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

#title > h1 {
    margin: 5px; 
    text-shadow: 1px 2px rgb(86, 43, 8);
}

#user {
    text-shadow: .5px 1px rgb(86, 43, 8);
    padding: 5px;
    padding-left: 10px;
    margin-left: auto;
    border-radius: 6px;

    display: flex;
    align-items: center;
}
#user > img {
    margin-left:  3px;
    padding: 4px;
    border-radius: 23px;
    width: 38px;
    background-color: #3c6792;
}
#user:hover {
    background-color: rgb(216, 216, 216);
    color: rgb(86, 43, 8);
    text-shadow: none;
}
nav {
    margin-left: 5px;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
a#user {
    color: inherit;
    text-decoration: none;
}

nav > * {
    padding: 5px;
    text-decoration: none;
    color: inherit;
    border-radius: 3px;
    margin-right: 10px;
}
nav > *:hover {
    background-color: rgb(216, 216, 216);
    box-shadow: inset 2px 2px 2px rgb(79, 82, 85),
                inset -1px -1px 2px rgb(116, 121, 126);
    color: rgb(86, 43, 8);
}

#main {
    background-color: rgb(205, 199, 209);
    color: rgb(86, 43, 8);
    border-radius: 3px;
    padding: 10px;
}

/* Style for smaller screens */
@media screen and (max-width: 710px) {
    #title > h1 {
        font-size: 160%;
    }

    #user > div {
        display: none;
    }

    nav {
        overflow-x: scroll;
        -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 0% 95%,rgba(0,0,0,0) 100%);
    }
}

#stub {
    opacity: .5;
    position: relative;
    z-index: 2;
}