
/* 
Etown official colors:
  - Main blue   004B98
  - Dark blue   0A2240
  - Red         E1261C
  - Light blue  3DB5E6
  - Cool gray   C8C8C8

extracted HEX:
  - rich-black-fogra-29 #001828ff;
  - blue-sapphire       #216077ff;
  - gunmetal            #0E323Fff;
  - heliotrope-gray     #9F92A8ff;
  - pale-cerulean       #A9C5DAff;
*/
:root {
    --blue-sapphire: #216077ff;
    --rich-black-fogra-29: #001828ff;
    --heliotrope-gray: rgb(157, 128, 177);
    --old-lavender: rgb(59, 50, 66);
    --silver-sand: rgb(233, 238, 243);
}

html {
    /*background-color: rgb(24, 39, 71);*/
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

    background-color: gray;
}
body {
    margin: 0px;
}
header {
    background-image: url('../img/projector-blur.png');
    background-size: 180%;
    background-position-x: 25%;
    background-position-y: 75%;

    background-color: var(--blue-sapphire);
    padding: 10px;
    padding-top: 25px;
    margin: 0px;
    margin-bottom: 10px;

    color: var(--silver-sand);
    text-transform: uppercase;
    font-weight: bold;

    display: flex;
    justify-content: center;
    flex-direction: column;

    border-bottom: solid 5px var(--rich-black-fogra-29);
}
#title {
    margin: 5px;

    display: flex;
    align-items: center;
    flex-direction: row;
}

#title > h1 {
    margin: 5px; 
    text-shadow: 1px 2px var(--old-lavender);
}

#user {
    text-shadow: .5px 1px var(--old-lavender);
    padding: 5px;
    padding-left: 10px;
    margin-left: auto;
    border-radius: 6px;

    display: flex;
    align-items: center;
}
#user > img {
    margin-left:  3px;
    padding: 4px;
    border-radius: 23px;
    width: 38px;
    background-color: #3c6792;
}
#user:hover {
    background-color: rgba(63, 49, 71, 0.5);
    box-shadow: inset 2px 2px 2px rgb(79, 82, 85),
                inset -1px -1px 2px rgb(154, 162, 170);
    color: rgb(196, 174, 211);
    text-shadow: none;
}
nav {
    margin-left: 5px;

    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}
a#user {
    color: inherit;
    text-decoration: none;
}

nav > * {
    padding: 5px;
    text-decoration: none;
    color: inherit;
    border-radius: 3px;
    margin-right: 10px;
}
nav > *:hover {
    background-color: rgba(63, 49, 71, 0.5);
    box-shadow: inset 2px 2px 2px rgb(79, 82, 85),
                inset -1px -1px 2px rgb(116, 121, 126);
    color: rgb(196, 174, 211);
}

footer {
    background-color: #001828ff;
    padding: 50px 30px;
    margin: 0px;
    margin-top: 10px;

    color: rgb(216, 216, 216);
    text-transform: uppercase;
    font-weight: bold;
}
#main {
    margin: 5px;
    min-height: calc(100vh - 170px);

    background-color: white;
    color: var(--old-lavender);
    border-radius: 3px;
    padding: 10px;
}

/* Style for smaller screens */
@media screen and (max-width: 710px) {
    #title > h1 {
        font-size: 160%;
    }

    #user > div {
        display: none;
    }

    nav {
        overflow-x: scroll;
        -webkit-mask-image: -webkit-linear-gradient(left, rgba(0,0,0,1) 0% 87%,rgba(0,0,0,.5) 100%);
    }

    #hide-when-small {
        display: none;
    }
}

#stub {
    max-width: 100%;
    opacity: .5;
    position: relative;
    z-index: 2;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown:hover .dropdown-content {display: block;}
  